# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: trivy
permissions: {}

on:
  push:
    branches:
      - main
  pull_request:
  schedule:
    # every Monday at 7:31pm
    - cron: "31 19 * * 1"

jobs:
  scan:
    name: Build
    runs-on: "ubuntu-latest"
    permissions:
      security-events: write
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v4
        with:
          persist-credentials: false

      - name: Trivy Vulnerability Scan
        uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8 # 0.33.1
        with:
          scan-type: "fs"
          severity: "UNKNOWN,LOW,MEDIUM,HIGH,CRITICAL"
          scan-ref: "."
          scanners: "vuln"
          format: "sarif"
          output: "trivy-results.sarif"
          exit-code: 1

      - name: Trivy License Scan
        uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8 # 0.33.1
        with:
          scan-type: "fs"
          severity: "HIGH,CRITICAL"
          scan-ref: "."
          scanners: "license"
          exit-code: 1

      - name: Upload Trivy scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@5d4e8d1aca955e8d8589aabd499c5cae939e33c7 # v3
        with:
          sarif_file: "trivy-results.sarif"
